
<div class="row col-md-12 con{{posicion}}" id="{{posicion}}">
    <div class="recciones radius100 mAuto {{posicion}}1 r" [ngStyle]="{backgroundImage:'url(assets/Emoji_damn_01.svg)'}" (click)="reaccionar('Emoji_damn_01', 1)">
    </div>
    <div class="recciones radius100 mAuto {{posicion}}2 a" [ngStyle]="{backgroundImage:'url(assets/Emoji_delicious_01.svg)'}" (click)="reaccionar('Emoji_delicious_01', 2)">
    </div>
    <div class="recciones radius100 mAuto {{posicion}}3 g" [ngStyle]="{backgroundImage:'url(assets/Emoji_ufff_01.svg)'}" (click)="reaccionar('Emoji_ufff_01', 3)">
    </div>
    <div class="recciones radius100 mAuto {{posicion}}4 b" [ngStyle]="{backgroundImage:'url(assets/Emoji_why_01.svg)'}" (click)="reaccionar('Emoji_why_01', 4)">
    </div>
    <div class="recciones radius100 mAuto {{posicion}}5 b" [ngStyle]="{backgroundImage:'url(assets/Emoji_wink_01.svg)'}" (click)="reaccionar('Emoji_wink_01', 5)">
    </div>
    <div class="like radius100 mAuto  boton{{posicion}} cambio{{posicion}}" id="boton{{posicion}}" [ngStyle]="{backgroundImage:'url(assets/'+cambio+'.svg)'}" (click)="like()">
    </div>
</div>

<!-- <ul id="listas">
  <li id="1">Elemento lista 1</li>
  <li id="2">Elemento lista 2</li>
  <li id="3">Elemento lista 3</li>
</ul>
<input type="button" id="boton" value="Recorrer lista"> -->

