<div class="row per col-md-8 ">
  <div class="fto avatar2 perfilC sombra3">

  </div>
  <h5 class="mAuto h5">Valeria eva</h5>
</div>

<div class="row">
  <div class="form-group input">
    <label for="pwd" class="per">Name:</label>
    <input [(ngModel)]="datos.name" type="text" class="form-control  " id="pwd">
  </div>
  <div class="form-group input">
    <label for="pwd" class="per">Email:</label>
    <input [(ngModel)]="datos.email" type="text" class="form-control " id="pwd">
  </div>
  <div class="form-group input">
    <label for="pwd" class="per">Phone number:</label>
    <input [(ngModel)]="datos.phone" type="text" class="form-control " id="pwd">
  </div>
  <div class="form-group input">
    <label for="pwd" class="per">Password:</label>
    <input [(ngModel)]="datos.password" type="text" class="form-control " id="pwd">
  </div>

</div>

<div class="actualizar mAuto">
  Actualizar
</div>
